:root {
    --pagefind-ui-text: #a5d8ff;
}

html, body, h1, h2, h3, h4, h5, h6, details, summary, figcaption, chip {
    font-family: "Neuton", system-ui, -apple-system, Fallback, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 300 400 500 600 700 800;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    src:
        url("/fonts/neuton-normal-200-800-latin.woff2") format("woff2"),
        url("/fonts/neuton-normal-200-800-latin-ext.woff2") format("woff2");
}

p, a {
    font-family: "Neuton", system-ui, -apple-system, Fallback, sans-serif;
    font-size: clamp(1.1rem, 1.7vw + 0.5rem, 1.0rem);
    font-weight: 300;
}

code {
    font-size: clamp(0.9rem, 1.5vw + 0.5rem, 0.9rem);
    font-weight: 100;
}

.urutau-logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.urutau-404 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media (prefers-color-scheme: light) {
    /* light */

    :root {
        --pagefind-ui-primary: #d0ebff;
        --pagefind-ui-background: #f2f4f6;
        --pagefind-ui-border: #a5d8ff;
        --pagefind-ui-tag: #a5d8ff;
    }

    .hljs {
        background: unset;
    }
}

@media (prefers-color-scheme: dark) {
    /* dark */

    :root {
        --pagefind-ui-primary: #0d375e;
        --pagefind-ui-background: #252521;
        --pagefind-ui-border: #a5d8ff;
        --pagefind-ui-tag: #a5d8ff;
    }

    .hljs {
        background: unset;
    }
}

/* Markdown styling */
nav.table-of-contents {
    & ul {
        padding-inline-start: 2rem;
    }
    & li::marker {
        font-family: sans-serif;
    }
}
